* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    background-color: #111;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu {
    width: 60%;
    height: 15%;
    background-color: darkgoldenrod;
    margin-left: 10%;
    padding-left: 10%;
}

#container {
    display: flex;
    width: 70%;
    height: 80%;
    background-color: darkseagreen;
    margin-left: 10%;
    background-color: #CCC;
}

#content {
    width: 75%;
    color: #333;
    padding: 2% 25% 2% 15%;
}

#plaatjes {
    width: 25%;
    height: 100%;
    background-color: gray;
}

.horizontaal {
    background-color: honeydew;
    float: left;
    font-size: 4.0rem;
    width: 100%;
    margin-top: 4%;
}

.horizontaal li {
    display: inline;
    text-align: center;
    margin: 0px 20px;
    width: 15%;
    padding: 0 2%;
    margin: auto;
    font-size: 5rem;
    font-variant: small-caps;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover, li:hover {
    background-color: #CCC;
}

h1 {
    font-size: 4rem;
    font-weight: 900;  
    text-align: right;  
    text-transform: lowercase;
    font-variant: small-caps;
}

p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.fotobalk {
    width: 60%;
    height: auto;
    border: 5px solid darkgoldenrod;
    margin-left: 20%;
    margin-top: 25%;
}