body {
    padding: 0;
    margin: 0;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

#container {
    margin: 2%;
    border: 1px dashed #AAA;    
}

#hoofdpagina {
    display: flex;
    width: 65%;
    border: 1px dashed black;
}

#links {
    width: 70%;
    background-color: lightsteelblue;
    padding: 5% 2% 0% 2%;
}

#rechts {
    width: 30%;
}

img {
    width: 50%;
    margin-left: 25%;
}

#footer {
    background-color: #333;
    color: #DDD;
    text-align: right;
}
