body {
  padding: 0;
  margin: 0;   
  background-color: #111;
}

#container {
    border: 1px solid #AAA;
    width: 1000px;
    height: 450px;
    margin: auto;
    margin-top: 1%;
    background-image: url("vogel.png");
    background-size: cover;
    background-position: center;  
}

.fototekst, .truc {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 120px;
  text-align: right;
  font-variant: small-caps;
  padding: 2%;
  margin: 0;
  margin-top: 250px;
  color: #390f0a;
}

.fototekst {
  background-color: white;
  opacity: 0.7;
}

.truc {
  background-image: url('FFFFFF-0.7.png');
  opacity: 1.0; /* dit element is zelf niet doorzichtig */
}