* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    background-color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu {
    width: 70%;
    height: 15%;
    padding-top: 40px;
    background-color: cadetblue;
    margin-left: 10%;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-variant: small-caps;
}

#container {
    width: 70%;
    height: 80%;
    /* background-color: cornsilk; */
    margin-left: 10%;
}

.content {
    width: 80%;
    /* background-color: darkgrey; */
    margin: auto;
    display: flex;
}

.item {
    width: 220px;
    height: 320px;
    background-color: white;
    margin: 5px auto;
    padding: 5px;
    color: #999;
    border: 1px solid whitesmoke;
}

.item:hover {
    border: 1px solid cadetblue;
}

.item img {
    width: 220px;
}

h2 {
    font-weight: 900;
    font-size: 3.0rem;
    letter-spacing: 0.2rem;
    font-variant: small-caps;
}

.item li {
    list-style-position: inside;
    list-style-type: circle;
    font-size: 1.7rem;
    line-height: 1.6rem;
}