* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* default 16px x 62.5% = 10px */
}

body {
    background-color: white;
    font-family: sans-serif;
    line-height: 1.0rem;
    position: relative;
}

.triangle {
  width: 0;
  height: 0;
  border: 150px solid transparent;
  border-top: 0;
  border-bottom: 300px solid rgb(92, 23, 23);
  padding-top: 40px;
  text-align: center;
}

h1 {
    color: white;
    font-size: 24em;
    margin-top: 140px;

}