* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* default 16px x 62.5% = 10px */
}

body {
    background-color: white;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    height: 120px;
    background-color: whitesmoke;
    border: 1px solid #BBB;
    margin: 10px 100px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid orange;
    width: 250px;
    height: 80px;
    color: white;
}

.box:hover {
    background-color: azure;
    color: cadetblue;
    border: 1px solid cadetblue;
}

h1 {
    font-size: 4em;
}