:root {
    --kopjes:#b42400;
    --tekst: #3a3a3a;
    --achtergrond: #eee;
    --breedte: 350px;
    --hoogte: 250px;
}

* {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 40%;
    }
}
  
@media screen and (min-width: 1024px) {
    html {
        font-size: 62.5%; /* default 16px x 62.5% = 10px */
    }
}

.container {
    font-size: 1.4rem; /* Dat is nu 14px, want 1rem op basis van html-parent nu 10px */
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
    color: var(--tekst);
    line-height: 1.5rem;
}

p {
    background-color: var(--achtergrond);
    border-bottom: 1px solid var(--tekst);
}

h2 {
    margin-top: 1.1em;
}

.a h1, .a h2, .b h1, .b h2 {
    color: var(--kopjes);
    border: 1px solid var(--kopjes);
}

.a h1 {
    font-size: 1.5em;
}

.a h2 {
    font-size: 1.2em;
}

.a p {
    font-size: 1.0em;
    line-height: 1.0em;
}

.b h1 {
    font-size: 1.5rem;
}

.b h2 {
    font-size: 1.2rem;
}

.b p {
    font-size: 1.0rem;
    line-height: 1.0rem;
}

.c h1, .c h2 {
    font-variant: small-caps;
}

.container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 20em 20rem var(--breedte) var(--breedte);
    grid-template-rows: var(--hoogte) var(--hoogte);
    margin: 5% 10%;
  }

  .blok {
    background-color: white;
    border: 1px solid var(--kopjes);
    border-radius: 15px;
    padding: 25px 15px;
  }

.a {
    grid-column: 1;
}

.b {
    grid-column: 2;
}

.c {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    text-align: justify;
}

.r1 {
    grid-row: 1;
}

.r2 {
    grid-row: 2;
}
