* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* default 16px x 62.5% = 10px */
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
    line-height: 1.0rem;
    position: relative;
}

.container {
    width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 3%;
    border: 1px solid #444;
    text-align: center;
    color: #333;
}

h1, h2, h3, h4 {
    font-size: 10rem;
    line-height: 14rem;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-transform: capitalize;
    font-weight: 200;
    letter-spacing: 0.1em;
}

h2 {
    text-decoration: underline;
    text-decoration-color: #007;
    font-variant: small-caps; 
    font-weight: bolder;
}

h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3::first-letter {
    background-color: #333;
    color: #EEE;
    text-transform: uppercase;
    border-radius: 5px;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    box-shadow: 5px 5px 2px red;
}

h4 {
    font-variant: small-caps;
    font-weight: 100;
    word-spacing: 0.4em;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow */
    text-shadow: #fc0 5px 10px 3px;
}